<div ng-controller="productController">
    <br />

    @RenderPage("~/Views/Utils/ProductosVistaComun.cshtml")

    <div class="list-group">
        <!-- Resultados de busqueda-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#product_result">Resultados de Busqueda</a>
                </h4>
            </div>
            <div id="product_result" class="panel-collapse collapse in">
                <div class="list-group">
                    <a ng-click="modificarProductoSeleccionado(producto)"
                       class="list-group-item" href="#" data-toggle="modal" data-target="#compraProducto"
                       ng-repeat="producto in productos">
                        <b>Nombre del producto: </b>{{producto.Nombre}}
                        <b> Precio: </b> &cent; {{producto.Precio}}<br />
                        <b> Descripcion del producto: </b> {{producto.Descripcion}}
                        <b> Requiere prescripcion: </b>{{producto.Prescripcion}}


                        <span class="badge" style="vertical-align:middle;">{{producto.Cantidad}}</span>
                        <span class="glyphicon glyphicon-shopping-cart" style="float:right;padding-right:3px;"></span>
                    </a>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>


        <div class="button-list center-block">
            <input class="btn btn-success button-item" id="agregar_Producto" type="button" value="Agregar Producto" />
            <input class="btn btn-warning button-item" id="editar_Procucto" type="button" value="Editar Producto" />
            <input class="btn btn-danger button-item" id="eliminar_Procucto" type="button" value="Eliminar Producto" />
        </div>

    </div>


    <!--Menu de compra y administracion de producto-->
    <div id="compraProducto" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comprar</h4>
                </div>


                <!--#######################################################-->
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Administrar</a></li>
                        <li><a data-toggle="tab" href="#menu1">Compra</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <!-- Form para administrar producto -->
                            <h3>HOME</h3>
                            <p>Some content.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <!-- Form para hacer la compra -->
                            <h3>Menu 1</h3>
                            <p>Some content in menu 1.</p>
                        </div>
                    </div>

                    <!--#######################################################-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>