<!--
    Esta visualizacion es unicamente para los tipos de usuario: Invitado, Usuario-cliente y Usuario dependiente    
-->

<div ng-controller="productController" >
    <br />
    <!-- 
        Son los botones que asignan la farmacia seleccionada, las farmacias disponibles son farmatica y phishel
    -->
    <ul class="nav nav-pills center-block" style="width:175px;">
        <li ng-click="asignarFarmacia(0)" ng-class="farmaciaClass[0].estilo"><a href="#">Farmatica</a></li>
        <li ng-click="asignarFarmacia(1)" ng-class="farmaciaClass[1].estilo"><a href="#">Phishel</a></li>
        <!--Si se desean agregar mas botones, para futuras alianzas con otras farmacias pueden insertarse aca-->
    </ul>

    <br />
    <!--Con esto se muestra la vista comun de los producto en este caso es para usuario cliente-->
    @RenderPage("~/Views/Utils/ProductosVistaComun.cshtml")

    <!-- 
        En este contenedor se visualizan los resultados de la busqueda segun los filtros establecidos por la vista comun
        del los productos, al igual que los paneles expandibles de los productos de la vista comun este es un panel
        expandible
        -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#product_result">Resultados de Busqueda</a>
            </h4>
        </div>
        <div id="product_result" class="panel-collapse collapse in">
            <!--Representa el conjunto del resultado de los productos, segun los filtros elegidos -->
            <div class="list-group">
                <!--Representa un producto se muestran los datos importantes como el precio, la descripcion del 
                    producto, el nombre del producto la cantidad del producto disponible
                    -->
                <a ng-click="asignarProductoSeleccionado(producto)"
                   class="list-group-item" href="#" data-toggle="modal" data-target="#compraProducto"
                   ng-repeat="producto in productos">
                    <!--Se muestran las caracteristicas de cada producto desde el nombre, hasta el precio, como la cantidad disponible-->
                    <b>Nombre del producto: </b>{{producto.Nombre}}
                    <b> Precio: </b> &cent; {{producto.Precio}}<br />
                    <b> Descripcion del producto: </b> {{producto.Descripcion}}
                    <b> Requiere prescripcion: </b>{{producto.Prescripcion}}
                    <!--Es la cantidad de producto disponible-->
                    <span class="badge" style="vertical-align:middle;">{{producto.Cantidad}}</span>
                    <span class="glyphicon glyphicon-shopping-cart" style="float:right;padding-right:3px;"></span>
                </a>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>




    <!-- Menu emergente para agregar el producto al carrito-->

    <div id="compraProducto" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar al carrito</h4>
                </div>

                <div class="modal-body">
                    ¿Desea agregar este producto al carrito?<br />
                    <!-- en este menu se muestra el producto y sus detalles para agregarlo al carrito-->
                    <b>Nombre del producto: </b>{{productoSeleccionado.Nombre}}<br />
                    <b> Precio: </b> &cent;{{productoSeleccionado.Precio}}<br />
                    <b> Descripcion del producto: </b> {{productoSeleccionado.Descripcion}}<br />
                    <b> Requiere prescripcion: </b>{{productoSeleccionado.Prescripcion}}<br />
                    <br />
                    <div style="width:90px;" class="center-block">
                        <!--Es el boton que agrega el producto al carrito-->
                        <button ng-click="agregarAlCarrito()" type="button" class="btn btn-success" data-dismiss="modal">S&iacute;</button>
                        <!--Es el boton que cierra el modal y no agrega el producto al carrito-->
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--Cierra el modal-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>