<table class="table table-hover">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aplicadas en las celdas (<td> o <th>) -->
        <tr class="active">
            <td class="active">a</td>
            <td class="active">b</td>
            <td class="active">c</td>
        </tr>
    </tbody>
</table>
