<div>
    <label for="nombre_producto">Nombre Producto: </label>
    <input ng-model="nombreProductoARegistrar" class="form-control" id="nombre_producto" type="text" />
</div>
<div>
    <label for="categoria">Categoria: </label>
    <select class="form-control" id="categoria">
        <option ng-click="seleccionarCategoria(categoria,$index)" ng-repeat="categoria in tipo_producto">{{categoria.Nombre}}</option>

    </select>
</div>
<div>
    <label for="laboratorio">Laboratorio: </label>
    <select ng-init="obtenerListaLaboratorio();" class="form-control" id="laboratorio">
        <option ng-repeat="laboratorio in laboratorios">{{laboratorio.Nombre}}</option>

    </select>
</div>
<div class="center-block">
    <label for="prescripcion" class="text-center form-inline">Prescripcion: </label>
    <ul id="prescripcion" class="nav nav-pills" style="width:175px;">
        <li><a data-toggle="pill" ng-click="necesitaPrescripcion(true)" href="#">Si</a></li>
        <li class="active"><a ng-click="necesitaPrescripcion(false)" data-toggle="pill" href="#">No</a></li>
        <!--Si se desean agregar mas botones, para futuras alianzas con otras farmacias pueden insertarse aca-->
    </ul>
</div>
<div>
    <label for="descripcion">Descripcion: </label>
    <textarea ng-model="descripcionProducto" class="form-control" id="descripcion" rows="2" cols="20"></textarea>
</div>