
<div class="panel panel-default" ng-controller="productController">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#editar_producto">Editar Producto</a>
        </h4>
    </div>
    <div id="editar_producto" class="panel-collapse collapse form-group">
        <div class="registro_producto">
            <br />
            <div>
                <label for="producto_list">Seleccione el producto: </label>
                <select class="form-control" id="producto_list">
                    <option></option>

                </select>

            </div>
            <div>
                <label for="nombre_producto">Nombre Producto: </label>
                <input class="form-control" id="nombre_producto" type="text" />

            </div>
            <div>
                <label for="categoria">Categoria: </label>
                <select class="form-control" id="categoria">
                    <option></option>

                </select>
            </div>
            <div>
                <label for="laboratorio">Laboratorio: </label>
                <select class="form-control" id="laboratorio">
                    <option></option>

                </select>
            </div>
            <div class="center-block">
                <label for="prescripcion" class="text-center form-inline">Prescripcion: </label>
                <ul id="prescripcion" class="nav nav-pills" style="width:175px;">
                    <li><a data-toggle="pill" ng-click="necesitaPrescripcion(true)" href="#">Si</a></li>
                    <li class="active"><a ng-click="necesitaPrescripcion(false)" data-toggle="pill" href="#">No</a></li>
                    <!--Si se desean agregar mas botones, para futuras alianzas con otras farmacias pueden insertarse aca-->
                </ul>
            </div>
            <div>
                <label for="descripcion">Descripcion: </label>
                <textarea ng-model="descripcionProducto"  class="form-control" id="descripcion" rows="2" cols="20"></textarea>
            </div>
            <div class="center-block">
                <br />
                <input ng-click="editarProducto()" class="btn btn-warning center-block" type="button" value="Editar" />
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>