<!--Margin button 5px pues debajo de este irán los resultados-->
<!-- Provincia -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#provincia">Provincia</a>
            </h4>
        </div>
        <div id="provincia" class="panel-collapse collapse">
            <div class="list-group">
                <a ng-repeat="provincia in provincias" ng-click="activarProvincia($index)" ng-class="getProvinciaClass($index)" data-toggle="collapse" href="#provincia">
                    {{provincia.Nombre}}
                </a>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <!--Categoria-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#sucursal">Sucursal</a>
            </h4>
        </div>
        <div id="sucursal" class="panel-collapse collapse">
            <div class="list-group" id="sucursal_de_producto">
                <a ng-repeat="sucursal in sucursales" ng-click="seleccionarSucursal(sucursal,$index)" class="list-group-item" ng-class="getSucursalClass($index)" data-toggle="collapse" href="#sucursal">
                    <b>Nombre de la sucursal: </b>{{sucursal.Nombre}}
                    <b> Canton: </b>{{sucursal.Canton}}
                    <b> Distrito: </b>{{sucursal.Distrito}}
                </a>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <!--Productos de FarmaTica-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#product_type">Tipo De Producto</a>
            </h4>
        </div>
        <div id="product_type" class="panel-collapse collapse">
            <div class="list-group" id="categoria_de_producto">
                <a ng-repeat="tipo in tipo_producto" ng-click="seleccionarCategoria(tipo,$index)" class="list-group-item" ng-class="getCategoriaClass($index)" data-toggle="collapse" href="#product_type">
                    {{tipo.Nombre}}
                </a>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
