
<div class="panel panel-default" ng-controller="productAdminController">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#registro_producto">Registrar Producto</a>
        </h4>
    </div>

    <div id="registro_producto" class="panel-collapse collapse form-group">
        <div class="registro_producto">
            <br />
            @RenderPage("~/Views/Utils/AdministrarProductoVistaComun.cshtml")
            <div class="center-block">
                <br />
                <input ng-click="registrarProducto()" class="btn btn-success center-block" type="button" value="Registrar" />
            </div>
        </div>

        <div class="panel-footer"></div>
    </div>
</div>