
<div class="panel panel-default" ng-controller="adminController">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#registro_producto">Registrar Producto</a>
        </h4>
    </div>
    <br />
    <div id="registro_producto" class="panel-collapse collapse form-group">
        <div class="form-inline">
            <label for="nombre_producto">Nombre Producto: </label>
            <input class="form-control" id="nombre_producto" type="text" />
        </div>
        <div class="form-inline">
            <label for="categoria">Categoria: </label>
            <select class="form-control" id="categoria">
                <option></option>

            </select>
        </div>
        <div class="form-inline">
            <label for="laboratorio">Laboratorio: </label>
            <select class="form-control" id="laboratorio">
                <option></option>

            </select>
        </div>
        <div class="form-inline">
            <label >Prescripcion: </label>
            <input class="form-control" id="Radio1" type="radio" />
            <input class="form-control" id="Radio2" type="radio" />
        </div>
        <div class="form-inline">
            <label for="descripcion">Descripcion: </label>
            <textarea class="form-control" id="descripcion" rows="2" cols="20"></textarea>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>