<div ng-controller="dependienteController">
    <br />
    <h1 class="subtitulo">Pedidos</h1>
    <a ng-click="obtenerPedidos()" class="btn btn-primary center-block"><span class="glyphicon glyphicon-refresh" /> Recargar</a>
    <div class="table-responsive">

        <br />
        <!-- Esta es la tabla donde se mostraran los pedidos de los usuarios -->
        <table class="table">
            <thead>
                <!-- Este es el encabezado de la tabla, segun los valores que se desean obtener -->
                <tr class="info">
                    <th>Codigo Factura</th>
                    <th>Nombre de Cliente</th>
                    <th>Al cobro</th>
                    <th>Hora de compra</th>
                    <th>Facturar</th>
                </tr>
            </thead>
            <tbody>
                <!--Es la lista de pedidos ordenada por hora-->
                <tr ng-repeat="pedido in pedidos">
                    <td>{{pedido.IdPedido}}</td>
                    <td>{{pedido.Nickname}}, {{pedido.NombreCliente}} {{pedido.ApellidoCliente}}</td>
                    <td>&cent; {{pedido.AlCobro}}</td>
                    <td>{{pedido.HoraYFecha}}</td>
                    <td><a href="#" ng-class="tipoProcesoPedido(pedido)"
                            class="center-block" data-toggle="modal" data-target="#VerProductosDePedido"
                            ng-click="obtenerListadeProductosdePedido(pedido)">
                        <span class="glyphicon glyphicon-check"></span>{{MensajetipoProcesoPedido(pedido)}}</a></td>
                </tr>
            </tbody>
        </table>

        <!--Es la paginacion de pedidos, subdivide en 10 pedidos por pagina-->
        <ul class="pagination center-block">

            <li><a href="#" ng-repeat="pagina in paginas">{{pagina.Numero}}</a></li>
        </ul>
    </div>





    <!-- Modal -->
    <div id="VerProductosDePedido" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Este es un modal emergente que se encarga de solicitar los datos del usuario para que pueda logearse-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--Este es el titulo del modal emergente-->
                    <h4 class="modal-title">Productos del pedido</h4>
                </div>

                <div class="modal-body">
                
                    <table class="table">
                        <thead>
                            <!-- Este es el encabezado de la tabla, segun los valores que se desean obtener -->
                            <tr class="info">
                                <th>Codigo de producto</th>
                                <th>Nombre del producto</th>
                                <th>Cantidad Solicitada</th>
                                <th>Costo</th>
                                <th>Prescripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Es la lista de pedidos ordenada por hora-->
                            <tr ng-repeat="productoL in ListadeProductosdePedido">
                                <td>{{productoL.IdProducto}}</td>
                                <td>{{productoL.Nombre}}</td>
                                <td>{{productoL.CantidadAComprar}}</td>
                                <td>&cent; {{ProductoL.AlCobro}}</td>
                                <td>{{productoL.Prescripcion}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <!--Este es el footer donde el boton close cierra el modal-->
                <div class="modal-footer">
                    <!--Este boton cierra el modal-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



</div>








