<br />


<div class="table-responsive">
    <h1 class="subtitulo">Pedidos</h1>

    <table class="table">
        <thead>
            <tr class="info">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Costo</th>
                <th>Codigo Factura</th>
                <th>Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>300</td>
                <td>30A</td>
                <td><a><span class="glyphicon glyphicon-check"></span></a></td>
            </tr>
        </tbody>
    </table>
</div> 