<div class="login" ng-controller="mainController">

    <br />
    <br />
    <input ng-model="userName" class="form-control login_component" placeholder="usuario o e-mail" id="Text1" type="text" />
    <input ng-model="userPassword" type="password" class="form-control login_component" placeholder="contraseña" id="Text1" type="text" />
    <div class="login_component">
        <input ng-click="loginUser()" class="btn btn-success login_component" id="Button1" type="button" value="Ingresar" />
    </div>
    <p class="login" style="color:#5a0000;">{{loginMessage}}</p>
</div>

