
body {
    border-color: #ff9595;
}

.navbar {
        background-color: #dd3c3c;
}


.navbar-inverse .navbar-toggle {
    background-color: #dd3c3c;
    border-color: #ff9595;
}
.navbar-inverse .navbar-toggle:enabled {
    background-color: #dd3c3c;
    border-color: #ff9595;
}

.navbar-inverse .navbar-nav > li > a{
    color: #ffd2d2;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #fa6e6e;
    border-color: #ff9595;
}

.navbar-inverse .navbar-toggle::after {
    background-color: #fa6e6e;
    border-color: #ff9595;
}

.navbar-inverse{
    border-style: hidden;
    background-color: #dd3c3c;
}

.navbar .navbar-brand {
        color: #ffdfdf;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #b12727;
}

.login{
    max-width:609px;
    min-width:300px;
    min-height:50px;
    max-height: 400px;
    margin-left: auto;
	margin-right: auto;
    
}

.login .login_component{
    display: inline-block;
    margin-top: 3px;
    margin-left: auto;
	margin-right: auto;
    width:200px;
}